@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url(https://fonts.googleapis.com/css?family=Passion+One);

/* Color Guide
	darker blue (0,130,178)
	light blue (67,204,255)
	brown (178,100,14)
	light orange (255,167,72)
	orange (255,155,46)
*/

/* CSS Reset */
* { margin:0; padding:0; box-sizing:border-box; }

body{
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #000;
/*	color: rgb(178,100,14);
	max-width: 90%;  
	margin: auto; */
	background-image: url("../img/texture.jpg");
}
#wrapper{
	max-width: 90%; 
	margin: auto;
}
section{
	max-width: 75%; 
	margin: 2em 0em;
	float: left;
	border-right: 2px solid rgba(178,100,14,.5);
}
header{
	background-color: rgb(0,130,178);
	padding: 2em 2em 1em 2em;
}
nav{
	margin-top: 1em;
}
nav a{
	margin: .5em 2em .5em 0;
}
nav a:link, nav a:visited{
	color: rgba(256,256,256,.75);
}
nav a:active, nav a:hover{
	text-decoration: underline;
	color: rgb(67,204,255);
}
h1{
	font-family: "Passion One", "Open Sans", sans-serif;
	letter-spacing: 2px;
	font-size: 3.5em;
	text-transform: uppercase;
	color: #fff;
}
h2, h3, h4{
	font-family: "Passion One", "Open Sans", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.5em;
}
h2, h3{
	/* background-image: url("../img/texture.jpg"); */
	background-color: rgb(255,167,72);
	padding: .5em;
}
h4{
	font-size: 1.75em;
	text-align: center;
	color: #fff;
	margin-bottom: .25em;
}
#logo{
	width: 90px;
	float: left;
	margin: 0 1em 1.5em 0;
}
#slogan{
	font-family: "Covered By Your Grace", "Open Sans", sans-serif;
	font-size: 1.5em;
	color: rgb(255,167,72);
}
.level1, .level2, .level3{
	float: left;
	padding: 0 1em 1em 1em;
}
.blogintro{
	padding-top: .5em;
}
.level1{
	max-width: 100%;
	/* background-color: yellow; */
}
.level2{
	max-width: 66%;
	/* background-color: red; */
}
.level3{
	max-width: 33%;
	/* background-color: green; */
}
.imagewrap{
	float: left;
	margin-right: .5em;
}
.level1 img{
	width: 66%;
}
.level2 img{
	width: 50%;
}
.level3 img{
	width: 100%;
}
#gallery{
	background-image: url("../img/photogallery.jpg");
	height: 250px;
}
#search, #gallery, #social, #popularbefore, #populartips, #archive{
	margin-bottom: 1em;
}

#popularbefore{
	background-image: url("../img/before.jpg");
	height: 125px;
}
#populartips{
	background-image: url("../img/tips.jpg");
	height: 125px;
}
#archive{
	background: rgba(178,100,14,1);
	padding: 1.25em;
}
#gallery h4, #popularbefore h4, #populartips h4{
	position: relative;
	top: 50%;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px #000;
}
aside{
	float: left;
	width: 25%;
	text-align: left;
	padding-left: 2em;
	margin: 2em 0em;
	/* background-color: orange; */
}
aside img{
	width: 100%;	
}
ul{
	list-style: none;
	padding-left: 0;
}
li{
	margin-bottom: .25em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
footer{
	clear: both;
	width: 100%;
	text-align: center;
	padding: 1em;
	background-color: rgb(67,204,255);
}
a{
	text-decoration: none;
}
.level1 a:link, .level1 a:visited, .level2 a:link, .level2 a:visited, .level3 a:link, .level3 a:visited{
	color: #fff;
}
.level1 a:active, .level1 a:hover, .level2 a:active, .level2 a:hover, .level3 a:active, .level3 a:hover{
	color: rgb(0,130,178);
}
.blogintro a:link, .blogintro a:visited{
	font-style: italic;
	color: rgb(0,130,178);
}
.blogintro a:active, .blogintro a:hover{
	text-decoration: underline;
	color: rgb(0,130,178);
}
li a:link, li a:visited, footer a:link, footer a:visited{
	color: #fff;
}
li a:active, li a:hover, footer a:active, footer a:hover{
	text-decoration: underline;
	color: #fff;
}

