/*Imported fonts */

@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Just+Another+Hand);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

/*
Color Guide
	#636466 = dark gray
	#003777 = logo blue
*/

#examples{
/*	float: left; */
	width: 100%;
}
#portfolio{
/*	float: left; */
	width: 100%;
}
.hover-text{
	width: 15%;
	border: 1px solid #636466;
	margin: .25%;
}
#examples img{
	width: 80%;
	margin: 1em;
}
.desc{
	text-align: left;
	margin: 1em 0em;
	font-style: italic;
}
footer{
	clear: both;
}
h1, h2{
	text-align: left;
	color: #003777;
	margin-top: 1em;
}
h2{
	margin-top: 2em;
}

h3{
	font-size: 1em;
}
#details{
	margin-bottom: 3em;
}

/* ------------------------------------------------------------- Tablet */
@media only screen and (min-width: 521px) and (max-width: 899px){
	header img{
		width: 75%;
	}
	#examples{
		clear: both;
		width: 100%;
	}
	#portfolio{
		clear: both;
		width: 100%;
	}
	.hover-text{
		width: 22%;
		margin: .5%;
	}
	footer img{
		width: 12%;
	}
} 

/* ------------------------------------------------------------- Phone */
@media only screen and (min-width: 0px) and (max-width: 520px){
	#wrapper{
		padding: 3%;
		box-shadow: 0 0 0px #000000;
		width: 100%;
	}
	body{
		padding: 3% 0 0 0;
	}
	header img{
		width: 100%;
	}
	#examples{
		clear: both;
		width: 100%;
	}
	#portfolio{
		clear: both;
		width: 100%;
	}
	.hover-text{
		width: 30%;
		margin: .5%;
	}
/*	section{
		background-color: #636466;
		padding: 1em;
	}
*/
	footer img{
		width: 22%;
	}
	h3{
		font-size: .7em;
	}
}

/* ------------------------------------------------------------- Large monitor */
@media only screen and (min-width: 1500px){
	#wrapper{
		padding: 1.5%;
		box-shadow: 0 0 0px #000000;
		width: 75%;
	}
	body{
		background: none;
	}
} 
